h1{
    color: green;
    font-size: 100px;
    border-right: 28px dotted red;
}

p{
    color: red;
    font-family: cursive;
    text-shadow: 4px 5px 10px;


}

.tao{
    color: red;
}

.body{
    background-color: goldenrod;
    color: blue;

}

.content{
    background-color: black;
    color: aqua;
}
.webname{
    background-color: brown;
    text-shadow: 5px 4px 15px;
    color: blanchedalmond;
    display: inline;
}